
<!--  footer.html -->
<div id="fm_footer">
<div class="container">
<ul class="list-inline">
<li><a href="{if $config.rss_feed}{$config.rss_feed}{else}{$config.memo_uri}/rss{/if}"><i class="fa fa-lg fa-rss-square"></i> RSSフィード</a></li>
<li><a href="{$config.memo_uri}/about"><i class="fa fa-lg fa-info-circle"></i> このサイトについて</a></li>
<li><a href="{$config.admin_uri}?cmd=appearance_input"><i class="fa fa-lg fa-wrench"></i> デザイン設定</a></li>
<li class="pull-right"><a href="#TOP" class="icontext"><i class="fa fa-lg fa-arrow-up"></i> ページの先頭へ</a></li>
</ul>
<div>
<small>powered by <a href="http://econosys-system.com/freesoft/flatmemo.html" target="_blank">flat memo</a></small>
</div>
</div>
</div>
<!--  /footer.html -->
